# DSCI 303 - Homework 03
**Lauren Forti**

## Problem 1: Calculating Exam Scores

In [1]:
# create strings of grades
correct = 'D, B, C, A, C, D, A, C, C, B, D, A, B, D, C, D, C, D, C, A, B, D, C, B, A'
answers1 = 'A, B, C, A, B, D, A, A, C, B, D, A, D, C, C, B, C, D, B, A, D, D, C, C, A'
answers2 = 'D, A, C, A, B, D, A, C, C, B, D, A, B, D, A, D, C, D, C, A, B, C, C, B, A'

# convert string to list of grades
correct = correct.split(', ')
answers1 = answers1.split(', ')
answers2 = answers2.split(', ')

# count for Student 1
count1 = 0
# count for Student 2
count2 = 0

# count # of correct answers for Student 1 and Student 2
for i in range(len(correct)):
    # if the correct answer matches Student 1's answer, add to count
    if correct[i] == answers1[i]:
        count1 += 1
    # if the correct answer matches Student 2's answer, add to count
    if correct[i] == answers2[i]:
        count2 += 1

# calc grades for both students
grade1 = count1/len(correct)*100
grade2 = count2/len(correct)*100
# convert to integers
grade1 = int(grade1)
grade2 = int(grade2)

# output grades
print(f'Student 1 Grade: {grade1}%')
print(f'Student 2 Grade: {grade2}%')

Student 1 Grade: 64%
Student 2 Grade: 84%

## Problem 2: Calculating Price of a Bulk Order

In [2]:
# number of widgets in different orders
quantities = '84, 100, 126, 150, 186, 200, 216, 248'
quantities = quantities.split(', ')

price = 0
# determine the price for orders
for i in quantities:
    # convert i to int
    i = int(i)
    # intialize price for each order
    price = 0
    
    # if 100 or fewer widgets are ordered -> each widget costs $350
    if i <= 100:
        price = 350*i
    # if 200 or fewer widgets are ordered -> first 100 widgets each cost $350
    #                                        each additional widget costs $300
    elif i <= 200:
        price = 100*350 + ((i - 100)* 300)
    # If more than 200 widgets are ordered -> first 100 each cost $350
    #                                         next 100 each cost $300
    #                                         each widget beyond the first 200 cost $250
    else:
        price = 100*350 + 100* 300 + ((i - 200)*250)
    
    # output order price
    print(f'The cost for an order of {i} widgets is ${price}.')

The cost for an order of 84 widgets is $29400.
The cost for an order of 100 widgets is $35000.
The cost for an order of 126 widgets is $42800.
The cost for an order of 150 widgets is $50000.
The cost for an order of 186 widgets is $60800.
The cost for an order of 200 widgets is $65000.
The cost for an order of 216 widgets is $69000.
The cost for an order of 248 widgets is $77000.

## Problem 3: Creating an Amortization Schedule

In [3]:
# initial loan amount
balance = 1000
# annual interest rate
i = .05
# annual payment
pmt = 150

# number of payments
n = 0

while balance > 0:
    # increase # of payments
    n += 1
    
    # calc new balance
    balance = round((balance*(1+i)-pmt), 2)
    
    # calc final payment amount
    if balance < 0:
        final_pmt = balance + pmt
        balance = 0
    
    print(f'The balance at the end of year {n} is ${balance:.2f}.')

The balance at the end of year 1 is $900.00.
The balance at the end of year 2 is $795.00.
The balance at the end of year 3 is $684.75.
The balance at the end of year 4 is $568.99.
The balance at the end of year 5 is $447.44.
The balance at the end of year 6 is $319.81.
The balance at the end of year 7 is $185.80.
The balance at the end of year 8 is $45.09.
The balance at the end of year 9 is $0.00.

In [4]:
print(f'The amount of the final payment will be ${final_pmt:.2f}.')

The amount of the final payment will be $47.34.

## Problem 4: Hailstone Sequences

In [5]:
hs15 = []
hs17 = []
hs22 = []

n = 15
while n >= 1:
    # add n to sequence
    hs15.append(int(n))
    
    # end loop if n is 1
    if n == 1:
        break
    # divide by 2 if n is even
    elif n%2 == 0:
        n = n/2
    # multiply by 3 and add 1 if n is odd
    else:
        n = 3*n + 1

n = 17
while n >= 1:
    # add n to sequence
    hs17.append(int(n))
    
    # end loop if n is 1
    if n == 1:
        break
    # divide by 2 if n is even
    elif n%2 == 0:
        n = n/2
    # multiply by 3 and add 1 if n is odd
    else:
        n = 3*n + 1

n = 22
while n >= 1:
    # add n to sequence
    hs22.append(int(n))
    
    # end loop if n is 1
    if n == 1:
        break
    # divide by 2 if n is even
    elif n%2 == 0:
        n = n/2
    # multiply by 3 and add 1 if n is odd
    else:
        n = 3*n + 1

print(hs15)
print(hs17)
print(hs22)

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

## Problem 5: Predator/Prey Model

In [6]:
# rabbit population
r_pop = 1000
# wolf population
w_pop = 200

# print header, dashes, and first three lines
print(f'{"Year":<9}{"r_pop":<9}{"w_pop"}')
print('-'*23)
print(f'{0:<9}{r_pop:<9}{w_pop}')
print(f'{1:<9}{1100:<9}{220}')
print(f'{2:<9}{1166:<9}{249}')

i = 2
# run while both populations are greater than 0
while r_pop > 0 and w_pop > 0:
    i += 1
    
    # store current population values in temporary variables
    r_pop_prev = r_pop
    w_pop_prev = w_pop
    
    # calc new rabbit population
    r_pop = int(1.5*r_pop_prev-0.002*r_pop_prev*w_pop_prev)
    # calc new wolf population
    w_pop = int(0.8*w_pop_prev+0.0003*r_pop_prev*w_pop_prev)
    
    # make negative populations equal to 0
    if r_pop < 0 and w_pop >0:
        r_pop = 0
    if w_pop < 0 and r_pop >0:
        w_pop = 0
        
    # output results to table
    print(f'{i:<9}{r_pop:<9}{w_pop}')

Year     r_pop    w_pop
-----------------------
0        1000     200
1        1100     220
2        1166     249
3        1100     220
4        1166     248
5        1170     285
6        1088     328
7        918      369
8        699      396
9        494      399
10       346      378
11       257      341
12       210      299
13       189      258
14       185      221
15       195      189
16       218      162
17       256      140
18       312      122
19       391      109
20       501      99
21       652      94
22       855      93
23       1123     98
24       1464     111
25       1870     137
26       2292     186
27       2585     276
28       2450     434
29       1548     666
30       260      842
31       0        739

## Problem 6: Finding a Root of a Polynomial Function

In [7]:
x1 = 0
x2 = 5

# value from plugging x1 into f(x)
val1 = x1**3-4*x1**2+3*x1-4
# value from plugging x2 into f(x)
val2 = x2**3-4*x2**2+3*x2-4

# count iterations to converge
n = 0

while abs(val1) > 0.000001 and abs(val2) > 0.000001:
    # increae iteration count
    n += 1
    
    # get new x and function output
    new_x = (x1+x2)/2
    new_val = new_x**3-4*new_x**2+3*new_x-4

    # if new_val is negative -> set x1 to new_x and val1 to new_val
    if new_val < 0:
        x1 = new_x
        val1 = new_val
    # otherwise set x2 to new_x and val2 to new_val
    else:
        x2 = new_x
        val2 = new_val

# get approx solution
avg = (x1+x2)/2

# output results
print(f'The approximate solution is x = {avg:.7f}.')
print(f'The algorithm took {n} iterations to converge.')

The approximate solution is x = 3.4675044.
The algorithm took 22 iterations to converge.

## Problem 7: Grade Database

In [8]:
# lookup table with student ID#s
students = {
146832:{'first':'Brendan', 'last':'Small'},
147354:{'first':'Melissa', 'last':'Robbins'},
149126:{'first':'Jason', 'last':'Penopolis'},
149735:{'first':'Fenton', 'last':'Mulley'}
}

# lookup table with course ID#s
courses = {
'ENGL 101':'Composition I',
'ENGL 104':'Composition II',
'MATH 117':'College Algebra',
'MATH 151':'Calculus I',
'CHEM 103':'General Chemistry I',
'ECON 201':'Macroeconomics'
}

# grades
sid = [149126, 146832, 147354, 149735, 149126, 146832, 146832, 149735, 149126, 147354, 147354, 149735]
cid = ['ENGL 101', 'MATH 117', 'ENGL 104', 'CHEM 103', 'MATH 117', 'ECON 201', 'ENGL 101', 'ENGL 101', 'CHEM 103', 'ENGL 104', 'MATH 151', 'MATH 117']
grade = ['D', 'C', 'B', 'A', 'B', 'C', 'A', 'F', 'B', 'A', 'A', 'C']

In [9]:
labels = ['SID', 'First', 'Last', 'CID', 'Course Name', 'Grade']

z = 0
# for each column
for i in range(len(grade)):
    # print header and dashes for first iteration
    if z == 0:
        print(f'{labels[i]:<9}{labels[i+1]:<10}{labels[i+2]:<12}{labels[i+3]:<11}{labels[i+4]:<22}{labels[i+5]:>5}')
        print('-' * 69)
        z += 1
    
    # output each row
    print(f'{sid[i]:<9}{students[sid[i]]["first"]:<10}{students[sid[i]]["last"]:<12}{cid[i]:<11}{courses[cid[i]]:<22}{grade[i]:>5}')

SID      First     Last        CID        Course Name           Grade
---------------------------------------------------------------------
149126   Jason     Penopolis   ENGL 101   Composition I             D
146832   Brendan   Small       MATH 117   College Algebra           C
147354   Melissa   Robbins     ENGL 104   Composition II            B
149735   Fenton    Mulley      CHEM 103   General Chemistry I       A
149126   Jason     Penopolis   MATH 117   College Algebra           B
146832   Brendan   Small       ECON 201   Macroeconomics            C
146832   Brendan   Small       ENGL 101   Composition I             A
149735   Fenton    Mulley      ENGL 101   Composition I             F
149126   Jason     Penopolis   CHEM 103   General Chemistry I       B
147354   Melissa   Robbins     ENGL 104   Composition II            A
147354   Melissa   Robbins     MATH 151   Calculus I                A
149735   Fenton    Mulley      MATH 117   College Algebra           C

## Problem 8: Warehouse Inventory

In [10]:
prices = {'p101':37.52, 'p117':56.98, 'p122':43.72, 'p125':48.33, 'p126':52.45}

inventory = {
'STL':{'p101':520, 'p117':315, 'p122':117, 'p125':258, 'p126':345},
'CHI':{'p101':125, 'p117':864, 'p122':231, 'p125':612, 'p126':164},
'KC' :{'p101':264, 'p117':285, 'p122':772, 'p125':467, 'p126':106}
}

In [11]:
total_inventory = {}

# loop over each product
for prod_id in prices:
    quantity = 0

    # loop over values of the elements stored in inventory
    for site in inventory:
        # use product id to extract the quantity of that product at the current site and add to total quantity
        quantity += inventory[site][prod_id]

    # add prod_id:quantity to total_inventory
    total_inventory[prod_id] = quantity

    # output key and value for item
    print(f'{prod_id}: {quantity}')

p101: 909
p117: 1464
p122: 1120
p125: 1337
p126: 615